* {
    padding : 0 ; 
    margin : 0  ;
    box-sizing: border-box;
}
@font-face {
    font-family: 'RoboToCondensedBold';
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: 'TungsteBook';
    src: url('fonts/Tungsten-Book.ttf');
}
body {
    width: 100%;
    height: 100vh;
    background: url('ThankfulDetailedKookaburra-mobile.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.card {
    position: relative;
    display: inline-block;
    width: 646.8px;
    height: 400px;
    color : #fff;
    margin-left : 15px;
}
.text-box {
    position: absolute;    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left : 15px;
    padding-bottom: 60px;
    line-height: 1.4em;
}

img {
    object-fit: cover;
    object-position: center center;
    width: 646.8px;
    height: 400px;
    
}
h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2%;
    margin-bottom: 10px; 
    font-family: 'TungsteBook';

}
a {
    background: rgba(192, 13, 13, 0.67);
    letter-spacing: 0.18em;
    padding: 10px 22px 10px 22px;
    color : #fff;
    text-decoration: none;
    font-family: 'TungsteBook';
    font-size: 16px; 
    font-weight: 700;
    opacity: 80%;

}