 #dropDownButton ,#closeButton{
    display: none;
    font-size : 50px;
    color : #fff;
    text-decoration: none;
    padding : 7.5%;
}

 @media only screen and (max-width: 600px) {
	header{width: 100%; width: 500px;}
 	header nav {
		
 		 justify-content: space-around;
	     position : relative ;
 	}
	#closeButton{
		 display: block; border:none;
	}
	
header {
    width: 100%;
    height:60vh;		
	}
 	header nav ul {
		background-color: #000;
		top : 0 ;
		left : 0 ;	
		position : absolute;
		width: 100%;
 		display: none; 
 		flex-direction: column;
		padding-bottom: 50px;
 	}
	 header nav ul li a {
		 font-size : 20px;
	 }
 	#dropDownButton {display: block;}
 
    /* Header container */

	.header-container {
		text-align: center;
		flex-wrap: wrap;	
	}

	.header-container span {width: 100%; padding-bottom: 20px;}
	.header-container span h1 {
		font-size: 25px;
	}
	.header-container span h2 {
		font-size :23px;
	    margin : 0 ;
	}

	.Hero-line {
		width: 80%;
		opacity: 100%;
	}

	.readMore , .contactUs {
		font-size : 11px;
		opacity: 100%;
	}
	.container {
		height: 250vh;
	
	}
	.container {flex-wrap: wrap;width: 100%;}
	.container .description-section{text-align: center;}
	.container .description-section span h1 {
		font-size : 23px;

	}

	.container .description-section  p {
		font-size : 21px ;
	}

	/* Header container end */



	.image-grid-container {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.image-container-1 {
		text-align: center;
		margin-bottom: 10px;
	}
	.image-container-1 .text-box span h1 {
		padding : 20px;
		text-align: center;
		font-size : 25px;
	}
	.image-container-1 .text-box p {
		font-size : 20px;
		margin-right : 40px;
	}

	.right-image-container {
		
	}
	.left-image-container .image-container .text-box-right {
		display: flex;
		align-items: center;
	}
	footer {
		margin-top:-90px;
		width: 100%;
		height: 120vh;
		display: flex;
		flex-direction: column;
	}
	.social-media-links {
		margin : auto;
		height: 10%;
		margin : 0 ;
		width: 100%;
		align-items: center;
		margin-bottom: 20px;
	}
	.fab {font-size : 20px;}



.subscribe-section{
	margin : 0 ;
	margin-top : 0 ;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subscribe-section span {
	padding : 20px;
}
.subscribe-section form input[type=text]{
	margin-bottom:20px;
}

.footer-end-list {
	display:grid ;
	grid-template-columns : 50% 50% ;  
	width: 100%;
	flex-wrap:  wrap;
}
.footer-end-list ul{
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap:  wrap;
	margin-top: 20px;
	display: flex;

}




}

